body, html {
    height: 100%;

}

a {
    color: black;
}

a:hover {
text-decoration: none !important;
    color: black;

}

/*---------------------------Menu---------------------------*/
#index-background {
    background-image: url("../background-index-4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-attachment: fixed, scroll;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal !important;
}

.floating{
    width: 50px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: -15px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }
}

.menu-style {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    color: #FFFFFF;
    position: relative !important;
}

.menu-style a {
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.navbar-nav a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #e64851;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-nav a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.navbar-nav a:hover:after {
    width: 100%;
    left: 0;
}

.navbar-brand a{
    text-decoration: none!important;
    background: transparent!important;
}


.footer-index {
    color: white;
    text-align: center;
    margin-bottom: 0px;
    position: absolute;
    bottom: 3%;
    width: 100%;
}
.navbar-toggle {
    background-color: white !important;
}

.navbar-toggle .icon-bar {
    background-color: gray !important;
}

.logout {
    color: white;
}

.nav li > form > button.logout:hover {
    text-decoration: none;
    color: white !important;
}

.nav .open > a, .nav .open > a:hover {
    background-color: transparent;
}



/*-------------------------------Login-------------------------*/

.login-container {
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 15%
}

.logo-login {
    width: 150px;
    margin-top: -4%;
}

.login-info {
    color: #FFFFFF;
    font-size: 30px;
}

.label-login {
    color: white;
    text-align: left;
}

.label-lembrar-me {
    color: white !important;
}

/*-------------------------------Index-------------------------*/

.backend-index-container{
    margin-top: -60px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5% 2% 5% 2%;
}
.logo-container {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.logo-index{
    width: 200px;
}

.index-container-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 3%;
}

.card-definicoes-admin {
    opacity: 0.9;
    padding-top: 4%;
    border-radius: 5px;
    margin: 2%;
    width: 29%;
    background-color: #FFFFFF;
    color: black;
    font-size: 16px;
    font-weight: bold;
    height: 110px;
}

.card-definicoes-admin:hover {
    background-color: #e6e6e6;
    color: black;
}

@media (max-width: 1000px) {
    .card-definicoes-admin{
        font-size: 14px;
    }
    .logo-index{
        width: 150px;
    }
    .card-definicoes-admin{
        padding-top: 6%;
    }
}
@media (max-width: 1000px) {

}

/*Grid View Users*/
.user-index{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5% 2% 5% 2%;
}
.breadcrumb {
    margin-top: -70px;
}

.gridView-backend {
    background-color: #d9d9d9 !important;
    border: 2px #f2f2f2;
}

.btn-stats-users{
    margin-bottom: 2%;
    width: 15%;
}

.gerirUsers-Container {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.logo-gerirUsers {
    width: 130px;
}

.gerirUsers-info {
    font-size: 25px;
    color: #FFFFFF;
}

.gridViewHeaderOptions {
    color: yellow;
}

.btn-save-user{
    margin-right: 1%;
}

/*View - gerir users*/

.detailView-gerirUsers {
    background-color: #d9d9d9 !important;
}

.gerir-users-container {
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Users Update*/
.user-form {
    color: white;
}

.user-update {
    width: 60%;
    margin-left: 25%;
    color: #FFFFFF;
}

/*Estatisticas Users*/
.stats-user-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5% 10% 5% 10%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.estatisticas-info{
    font-size: 25px;
    color: white;
    margin-bottom: 5%;
}

.logo-stats{
    width: 130px;
}

.card-stats {
    margin-bottom: 1%;
}

.idades-container {
    margin-top: 50px;
}

.distritos-container{
    margin-top: 50px;
}

/*Comum*/

.summary {
    color: #FFFFFF;
}

.breadcrumb a {
    color: black;
}

/*Gerir Pontos Turisticos*/

/*Index*/
.pontos-turisticos-index{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5% 2% 5% 2%;
}

.logo-gerirPontosTuristicos {
    width: 130px;
}

.gerirPontosTuristicos-Container{
    justify-content: center;
    text-align: center;
    align-content: center;
}

.gridView-pontosTuristicos {
    width: 70%;
    margin-left: 15%;
}

.gerirPontoTuristicos-info{
    font-size: 25px;
    color: #FFFFFF;
}

/*View*/

.view-pontos-turisticos-container {
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.stats-pontosturisticos-container{
    width: 70%;
}

.btn-registar-ponto-turistico {
    margin-bottom: 10px;
}

.btn-visivel{
    margin-right: 10px;
}

.detailView-gerirPontosTuristicos {
    background-color: #d9d9d9 !important;
}
/*Registar Ponto Turistico*/

.pontos-turisticos-create-container{
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.pontosturisticos-create{
    width: 100%;
    color: #FFFFFF;
}

.pontosturisticos-form {
    color: #FFFFFF;
}
/*Atualizar Ponto Turistico*/

.pontos-turisticos-update-container{
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.pontosturisticos-update {
    width: 100%;
    color: #FFFFFF;
}

/*Gerir Tipo de Monumento*/

.tipomonumento-index{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5% 2% 5% 2%;
}

.gerirTipoMonumento-info{
    font-size: 25px;
    color: #FFFFFF;
}

.gerirTipomonumento-Container {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.logo-gerirTipomonumento{
    width: 130px;
}

.btn-registar-tipo-monumento{
    margin-bottom: 10px;
}

.tipomonumento-form {
    color: #FFFFFF;
}

/*Registar Tipo Monumentos*/
.tipomonumento-create-container{
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tipomonumento-create {
    width: 100%;
    color: #FFFFFF;
}

/*Atualizar Tipo Monumento*/
.tipomonumento-update-container{
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tipomonumento-update {
    width: 100%;
    color: #FFFFFF;
}
/*Gerir Localidades*/
.localidade-index{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5% 2% 5% 2%;
}

.logo-gerirLocalidade{
    width: 130px;
}

.gerirLocalidade-Container {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.btn-registar-localidade{
    margin-bottom: 10px;
}

.localidade-form {
    color: #FFFFFF;
}

/*Registar Localidade*/
.localidade-create-container{
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.localidade-create {
    width: 100%;
    color: #FFFFFF;
}

/*Atualizar Localidade*/
.localidade-update-container{
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.localidade-update {
    width: 100%;
    color: #FFFFFF;
}

/*Registar Estilo Construção*/

.registar-estilo-construcao-form {
    width: 60%;
    margin-left: 20%;
    color: white;
}

/*Registar Localidade*/

.registar-localidade-form {
    width: 60%;
    margin-left: 20%;
    color: white;
}

/*Gerir Estilo de Construção*/
.estiloconstrucao-index{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5% 2% 5% 2%;
}

.gerirEstiloconstrucao-Container {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.logo-gerirEstiloconstrucao{
    width: 130px;
}

.btn-registar-estilo-construcao{
    margin-bottom: 10px;
}

.estiloconstrucao-form {
    color: #FFFFFF;
}

/*Registar Estilo de Construção*/
.estiloconstrucao-create-container{
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.estiloconstrucao-create {
    width: 100%;
    color: #FFFFFF;
}

/*Atualizar Estilo de Construção*/
.estiloconstrucao-update-container{
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.estiloconstrucao-update {
    width: 100%;
    color: #FFFFFF;
}

/*Gerir Contactos*/
.contactos-index{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5% 2% 5% 2%;
}
.gerirMensagens-Container {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.logo-gerirMensagens {
    width: 130px;
}
.detailView-gerirContactos{
    background-color: #d9d9d9 !important;
}
/*View*/
.contactos-view{
    width: 100%;
    padding: 5%;
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contactos-form {
    color: #FFFFFF;
}