/*Login*/
.label-login{
    color: white;
    text-align: left;
}
.label-registo{
    color: black;
    text-align: left;
}


/*Registo*/
.label-registo{
    color: white;
    text-align: left;
}
.registo-container{
    justify-content: center;
    text-align: center;
    align-content: center;
}

.logo-registo{
    width: 150px;
    margin-top: -4%;
}

.registo-info{
    font-size: 30px;
}

@media (max-width: 500px) {
    .registo-info{
        font-size: 25px;
    }
}

/*Login*/
.login-container{
    justify-content: center;
    text-align: center;
    align-content: center;
}

.login-info{
    color: #FFFFFF;
}

.logo-login{
    width: 150px;
    margin-top: -4%;
}

.login-info{
    font-size: 30px;
}

@media (max-width: 500px) {
    .editar-info{
        font-size: 25px;
    }
}

/*editar registo*/
.editar-container{
    justify-content: center;
    text-align: center;
    align-content: center;
}

.editar-info{
    color: #FFFFFF;

}
.edita-login{
    width: 150px;
    margin-top: -4%;
}

.editar-info{
    font-size: 30px;
}

@media (max-width: 500px) {
    .editar-info{
        font-size: 25px;
    }
}

.flash-login{
    margin-top: 0px;
}

.dropdonw-menu:hover{
    background-color: transparent!important;
}

.dropdown-item:hover{
    background-color: transparent!important;
}

/*reset-password*/

.resetpassword-container{
    justify-content: center;
    text-align: center;
    align-content: center;
}

.reset-password-info{
    color: #FFFFFF;

}
.resetpassword-login{
    width: 150px;
    margin-top: -4%;
}

.reset-password-info{
    font-size: 30px;
}

@media (max-width: 500px) {
    .reset-password-info{
        font-size: 25px;
    }
}

.flash-login{
    margin-top: 0px;
}

.dropdonw-menu:hover{
    background-color: transparent!important;
}

.dropdown-item:hover{
    background-color: transparent!important;
}