body, html{
    height: 100%;

}
/*Caontactos*/

.contact-logo-index-container{

    margin-top: 1%;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: white;

}
.contact-container {
    text-align: center;
    border-radius: 20px;
    background-color:transparent;
    padding: 2%;
    color: white;

}
.contact-column {
    text-align: justify-all;
    /*alignment: top;*/
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;

}

.contact-row:after {
    content: "";
    display: table;
    clear: both;
}

.contact-img {
    align-content: center;
    width: 10%;
}
.contact-img-icon {
    align-content: center;
    width: 50%;
}

/*Contactos(mensagem form)*/

.ct-ms-container {
    color: #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    padding: 0% 8% 0% 8%;
 }
.ct-ms-row:after {
    content: "";
    display: table;
    clear: both;
}

.ct-ms-column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
.ct-th{
    text-align: center!important;

}
@media screen and (max-width: 1200px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*Registo*/
.label-registo-dta{

    color: black;
    text-align: left;
}

/*Sobre nós*/
.sn-title {
    color: white;
}
.sn-title-ane{
    text-align: center;
    color: white;
}
.sn-about-section {

    padding: 25px;
    text-align: center;
    background-color: transparent;
    color: white;
}
.sn-about-section-text {
    padding: 25px;
    text-align: justify-all !important;
    background-color: transparent;
    color: white;
}
.sobrenos-container{
    margin: 1% 8% 8% 1%;
    background: transparent;
    align-content: center !important;
    display: flex;
    flex-wrap: wrap;
}
.sobrenos-card{
    opacity: 0.9;
    background-color: transparent;
    color: white;
    padding: 2%;
    align-content: center !important;
    border-radius: 5px;
    width:29%;
    margin-left: 4%;
}
.sobrenos-card-img{
    width: 100%;
    /*border-radius: 5px;*/
}
.sobrenos-card-text{
    text-align: center;
}
.logo-index-container{
    width: 100%;
}

@media (max-width: 1000px) {
    .sn-about-section-text{
        display: flex;
        font-size: 10px;
    }
    .sobrenos-container {
        margin: 1% 8% 8% 1%;
        display: flex;
    }

    .sobrenos-card {
        width: 40%;
    }
    .sobrenos-card-img{
        width: 100%;
    }
    .logo-index-container{
        width: 100%;
    }

}
