body, html {
    height: 100%;

}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

/*Menu*/

#index-background {
    background-image: url("../background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-attachment: fixed, scroll;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal !important;
}

.floating{
    width: 50px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: -15px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }
}

.menu-style {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    color: #FFFFFF;
    position: relative !important;
}

.menu-style a {
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.navbar-nav a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #e64851;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-nav a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.navbar-nav a:hover:after {
    width: 100%;
    left: 0;
}

.navbar-brand a{
    text-decoration: none!important;
    background: transparent!important;
}


.footer-index {
    color: white;
    text-align: center;
    margin-bottom: 0px;
    position: absolute;
    bottom: 3%;
    width: 100%;
}
.navbar-toggle {
    background-color: white !important;
}

.navbar-toggle .icon-bar {
    background-color: gray !important;
}

.logout {
    color: white;
}

.nav li > form > button.logout:hover {
    text-decoration: none;
    color: white !important;
}

.nav .open > a, .nav .open > a:hover {
    background-color: transparent;
}

@media (max-width: 1420px) {
    .navbar-right {
        margin-right: 5%;
    }
}


@media (max-width: 1270px) {
    .navbar-right {
        margin-right: 10%;
    }
}


/* ----------------------------------------Index---------------------------------------*/
.index-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -50px;
    padding: 10% 5% 15% 5%;
}

.logo-index-container {
    margin-top: 1%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.searchForm-container {
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 4%;
}

#searchForm {
    width: 70%;
}


.btn-search-index {
    margin-left: 0px;
}

.icon-index-search {
    margin-right: 10px;
}

.search-btns {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.opcao-pesquisa a {
    color: white;
    margin-right: 20px;
}

.opcao-pesquisa a:hover {
    color: white;
    text-decoration: underline !important;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

@media (max-width: 700px) {
    .index-container {
        margin-top: 10%;
    }

    .logo-index {
        width: 150px;
    }

    .opcao-pesquisa {
        font-size: 12px;
    }

}

/* ----------------------------Favoritos---------------------------*/

.favourite-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 0% 0% 0%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4% 2% 4% 2%;
    border-radius: 5px;
}

.favourite-ponto-interesse-card {
    opacity: 0.9;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
    width: 21%;

}

.btn-remover-favoritos {
    position: absolute;
    margin-top: 3%;
    right: 7%;
}

.img-pi-favoritos {
    border-radius: 10px;
    width: 100%;
    background-size: cover;
    height: 70%;
}



@media (max-width: 885px) {
    .favourite-ponto-interesse-card {
        width: 29%;
    }

    .img-pi-favoritos {
        height: 100% !important;
    }

}
@media (max-width: 600px) {
    .favourite-ponto-interesse-card {
        width: 46%;
    }

    .img-pi-favoritos {
        height: 100% !important;
    }

}
/* ----------------------------Visitados---------------------------*/

.visitados-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 2% 0% 0%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4% 2% 4% 2%;
    border-radius: 5px;
}

.card-visitados {
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 1%;
    border-radius: 5px;
    width: 20%;
    margin: 2%;
}

.img-visitados-card {
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    height: 60%;
}

.card-title-visitados {
    text-align: center;
}

.btn-visitados {
    margin-top: 6%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

@media (max-width: 1000px) {
    .visitados-container {
        margin: 1% 8% 3% 8%;
        display: flex;
    }

    .card-visitados {
        width: 40%;
    }

    .btn-warning-visitados {
        width: 100% !important;
        font-size: 12px;
    }
}

/* ----------------------------Pontos-de-Interesse---------------------------*/

.pontos-interesse-container {
    margin: 2% 0% 0% 0%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4% 2% 4% 2%;
    border-radius: 5px;
}

.info-resultado {
    color: white;
    margin-left: 2%;
}

.resultado {
    font-size: 20px;
    font-weight: bold;
}

.pontos-interesse-card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-pontos-interesse {
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 1%;
    border-radius: 5px;
    margin: 2%;
    width: 21%;
}

.img-pi-card {
    width: 100%;
    border-radius: 4px;
    float: left;
    height: 65%;
    background-size: cover;
    margin-bottom: 4%;
    max-height: 124px;
}

.nome-pt{
    height: 70%;
}

.btn-saber-mais {
    text-align: right;
}

.btn-pi-info {
    margin: 3% 10% 4% 0;
}

@media (max-width: 885px) {
    .card-pontos-interesse {
        width: 29%;
    }

    .img-pi-card {
        height: 100% !important;
    }

}
@media (max-width: 650px) {
    .card-pontos-interesse {
        width: 46%;
    }

    .img-pi-card {
        height: 100% !important;
    }

}

/* ----------------------------Pontos-de-Interesse-Details---------------------------*/

.pontos-interesse-details-container {
    margin: 2% 0% 0% 0%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4% 2% 0% 2%;
    border-radius: 5px;
}

.img-pt-container {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.img-pt {
    width: 70%;
    border-radius: 10px;
    margin-top: 2%;
}

.pt-details-options {
    justify-content: right;
    text-align: right;
    padding-right: 5%;
    padding-top: 1%;
}

.pt-details-nome {
    margin-top: 12px;
    margin-left: 7%;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.btn-acao {
    margin-right: 6px;
}

.info-pt {
    color: #FFFFFF;
    margin-left: 9%;
    margin-right: 7%;
    display: flex;
    flex-wrap: wrap;
}

.card-info-pt {
    width: 30%;
    margin-right: 10px;
}

.details-pt-title {
    font-size: 19px;
    color: #cccccc;
}

.details-pt {
    font-size: 15px;
}

.desc-container {
    margin: 2% 7% 0% 6%;
    color: #FFFFFF;
    text-align: justify;
    font-size: 15px;
    padding: 2%;
    overflow: auto;
}

.desc-info-title {
    color: #cccccc;
}

.rating-container-pt {
    color: white;
    margin-top: 1%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.btn-rating-container {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.btn-rating {
    margin-bottom: 6%;
}

@media (max-width: 700px) {
    .pt-details-nome {
        margin-top: 12px;
        margin-left: 7%;
        font-size: 19px;
        font-weight: bold;
        color: white;
    }
}

@media (max-width: 1200px) {
    .details-pt-title {
        font-size: 17px;
        color: #cccccc;
    }

    .details-pt {
        font-size: 14px;
    }

}

@media (max-width: 993px) {
    .details-pt-title {
        font-size: 15px;
        color: #cccccc;
    }

    .details-pt {
        font-size: 13px;
    }
}


.mais-stats {
    color: #FFFFFF;
    margin-top: 5%;
    padding: 5%;
    margin-bottom: 5%;
}

/* ----------------------------Sobre Nós---------------------------*/

.sobre-nos-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -50px;
    overflow: auto;
    padding: 5% 3% 5% 3%;
}

.logo-container {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: white;
}

.sobre-nos-logo {
    width: 12%;
}

.sobre-nos-desc {
    padding: 25px;
    text-align: justify;
    text-justify: inter-word;
    background-color: transparent;
    color: white;
}

.sobrenos-container {
    margin: 1% 8% 8% 1%;
    background: transparent;
    justify-content: center;
    text-align: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.sobrenos-card {
    opacity: 0.9;
    background-color: transparent;
    color: white;
    padding: 2%;
    align-content: center !important;
    width: 27%;
    margin-left: 4%;
}

.sobrenos-card-img {
    width: 70%;
    border-radius: 50%;
}

.sobrenos-card-text {
    text-align: center;
}

@media (max-width: 1000px) {
    .sn-about-section-text {
        display: flex;
        font-size: 10px;
    }

    .sobrenos-container {
        margin: 1% 8% 8% 1%;
        display: flex;
    }

    .sobrenos-card {
        width: 25%;
    }

    .sobrenos-card-img {
        width: 100%;
    }

    .logo-index-container {
        width: 100%;
    }

    .sobre-nos-logo {
        width: 20%;
    }

}

/* ----------------------------Contactos---------------------------*/

.contactos-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -50px;
    overflow: auto;
    padding: 5% 3% 5% 3%;
}

.contactos-form {
    color: white;
}

.image-captcha {
    border-radius: 5px;
}

.input-captcha {
    margin-top: 2%;
}

.redes-sociais-container {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.contactos-logo {
    margin-top: 1%;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: white;
}

.contact-img {
    align-content: center;
    width: 10%;
}

.contact-img-icon {
    align-content: center;
    width: 8%;
    margin: 2%;
}


/* ----------------------------Registar---------------------------*/
.label-registo {
    color: white;
    text-align: left;
}

.registo-container {
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -50px;
    overflow: auto;
    padding: 5% 3% 5% 3%;
}

.registo-info {
    color: #FFFFFF;
    font-size: 30px;
}

.logo-registo {
    width: 150px;
    margin-top: -4%;

}

@media (max-width: 500px) {
    .registo-info {
        font-size: 25px;
    }
}

.alert-success {
    margin-top: -70px !important;
    margin-bottom: 60px;
}

/*Login*/
.label-login {
    color: white;
    text-align: left;
}

.label-memorizar-sessao {
    color: white;
    text-align: left;
}

.login-container {
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -50px;
    padding: 5% 3% 5% 3%;
}

.login-info {
    color: #FFFFFF;
}

.logo-login {
    width: 150px;
}

.login-info {
    font-size: 30px;
}

@media (max-width: 500px) {
    .editar-info {
        font-size: 25px;
    }
}

/*editar registo*/
.editar-registo-container {
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -50px;
    padding: 5% 3% 5% 3%;
}

.logo-editar {
    width: 150px;
}

.editar-registo-info {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 3%;
}

.dtaInput {
    color: #555555;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    background-image: none;
    border: 1px solid #ccc;
    font-size: 14px;
}

.options-editar-registo {
    display: flex;
    flex-wrap: wrap;
}

.btn-options-editar-registo {
    width: 50%;
}

@media (max-width: 680px) {
    .logo-editar {
        width: 110px;
    }

    .editar-registo-info {
        font-size: 20px;
    }
}

/*Editar Palavra-Passe*/
.alterar-password-container {
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -50px;
    padding: 5% 3% 5% 3%;
}

.logo-editar-palavra-passe {
    width: 150px;
}

.editar-palavra-passe-info {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 3%;
}

@media (max-width: 830px) {
    .logo-editar-palavra-passe {
        width: 110px;
    }

    .editar-palavra-passe-info {
        font-size: 20px;
    }
}

/* ----------------------------Comuns---------------------------*/

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.alert-danger {
    margin-top: -70px !important;
    margin-bottom: 70px !important;
    position: relative;
}

.summary {
    color: white;
}

.label-memorizar-sessao {
    color: white;
}

.breadcrumb {
    margin-top: -50px;
}

.breadcrumb a {
    color: black
}

.icon-action-pt {
    font-size: 17px;
}

.pagination-page{
    justify-content: center;
    text-align: center;
    align-content: center;
}

/* ----------------------------Pontos-de-Interesse-Visitados---------------------------*/

.pontos-interesse-visitados-container {
    margin: 2% 0% 0% 0%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4% 2% 4% 2%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.card-pontos-interesse-visitados {
    opacity: 0.9;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
    width: 21%;
}

.img-pi-card-pt-visitados {
    width: 100%;
    border-radius: 4px;
    float: left;
    height: 70%;
    background-size: cover;
    margin-bottom: 4%;
}

.btn-pi-visitado-info {
    margin: 0 6% 6% 0;
}

@media (max-width: 1000px) {
    .pontos-interesse-visitados-container {
        margin: 1% 8% 3% 8%;
        display: flex;
    }

    .card-pontos-interesse-visitados {
        width: 40%;
    }

    .btn-pi-info {
        width: 100% !important;
        font-size: 11px;
    }

}

/*****Alterar Password*******/

#changepassword-form {
    color: white;
}