body, html{
height: 100%;

}

a {
    text-decoration:none;
}

a:hover{
    color:white;
}

/*Menu*/

#index-background{
    background-image: url("../imagens/background-index-4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-attachment: fixed, scroll;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal !important;
}

.menu-style{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    color: #FFFFFF;
    position: relative !important;
}

.menu-style a{
    color: #FFFFFF;
}

.menu-style a:hover{
    text-decoration: none;
    background-color: transparent !important;
}

.footer-index{
    color: white;
    text-align: center;
    margin-bottom: 0px;
    position:absolute;
    bottom:3%;
    width:100%;
}

.navbar-brand{
    font-size: 20px;
}

.navbar-toggle{
    background-color: white !important;
}

.navbar-toggle .icon-bar{
    background-color: gray !important;
}

.logout{
    color: white;
}

.nav li > form > button.logout:hover {
    text-decoration: none;
    color: white !important;
}

/* ----------------------------------------Index---------------------------------------*/

.logo-index-container{
    margin-top: 1%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.searchForm-container{
    height: 30%;
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.btn-search-index{
    margin-left: 0px;
}

.icon-index-search{
    margin-right: 10px;
}

.opcao-pesquisa{
    color:white;
    margin-right: 20px;
    margin-left: 5px;
}

@media (max-width: 700px) {
    .logo-index {
        width: 150px;
    }

}

/* ----------------------------Favoritos---------------------------*/

.favourite-container{
    margin: 1% 8% 3% 8%;
    display: flex;
    flex-wrap: wrap;
}

.favourite-ponto-interesse{
    opacity: 0.9;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 45%;
    margin: 1%;
}

.favorite-header{
    padding: 2% 0 0 0;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.checked {
    color: orange;
}


.localidade-pi-container{
    padding: 0 0 0 8%;
    font-size: 17px;
    font-weight: bold;
    margin-top: 2%;
}

.favourite-options{
    justify-content: right;
    text-align: right;
    right: 0;
    margin: 1% 6% 6% 0%;
}

.favorite-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1%;
}

.img-pi-favoritos{
    border-radius: 10px;
    width: 100%;
    margin-left: 15%;
}

.nome-pi-container{
    padding: 12% 0 0 15%;
}

.btn-pi{
    margin-top: 13px;
}

.btn-outline-dark{
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

@media (max-width: 993px) {
    .favourite-container {
        display: inline;
    }

    .favourite-ponto-interesse {
        width: 100%;
        margin-right: 2%;
        margin-bottom: 4%;
    }

    .nome-pi-container{
        margin-top: 5%;
    }

    .btn-pi{
        margin-top: 45px;
    }

}

/* ----------------------------Visitados---------------------------*/

.visitados-container{
    margin: 1% 8% 3% 8%;
    display: flex;
    flex-wrap: wrap;
}

.card-visitados{
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 1%;
    border-radius: 5px;
    width: 20%;
    margin: 2%;
}

.img-visitados-card{
    width: 100%;
    border-radius: 5px;
}

.card-title-visitados{
    text-align: center;
}

.btn-visitados{
    margin-top: 6%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

@media (max-width: 1000px) {
    .visitados-container {
        margin: 1% 8% 3% 8%;
        display: flex;
    }

    .card-visitados {
        width: 40%;
    }

    .btn-warning-visitados{
        width: 100% !important;
        font-size: 12px;
    }
}

/* ----------------------------Pontos-de-Interesse---------------------------*/

.pontos-interesse-container{
    margin: 1% 8% 3% 8%;
    display: flex;
    flex-wrap: wrap;
}

.card-pontos-interesse{
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 1%;
    border-radius: 5px;
    margin: 2%;
    width: 27%;
}

.img-pi-card{
    width: 100%;
    border-radius: 4px;
}

.btn-pi-info{
    margin: 0 6% 6% 0;
}

@media (max-width: 1000px) {
    .pontos-interesse-container {
        margin: 1% 8% 3% 8%;
        display: flex;
    }

    .card-pontos-interesse {
        width: 40%;
    }

    .btn-pi-info{
        width: 100% !important;
        font-size: 13px;
    }

}

/* ----------------------------Pontos-de-Interesse-Details---------------------------*/

.pontos-interesse-details-container{
    margin: 1% 8% 3% 8%;
}

.card-ponto-interesse-details{
    width: 100%;
}

.card-img-top{
    width: 100%;
}

.pt-details-options{
    justify-content: right;
    text-align: right;
    right: 1%;
    padding: 1%;
}

.pt-details-nome{
    margin-top:12px;
    font-size: 18px;
    font-weight: bold;
}

.info-pt{
    color: #FFFFFF;
}

.details-pt-title {
    font-size: 21px;
}

.details-pt{
    font-size: 15px;
}

.desc-container{
    color: #FFFFFF;
    text-align: justify;
    font-size: 15px;
}

@media (max-width: 1200px) {
    .details-pt-title {
        font-size: 20px;
    }

    .details-pt {
        font-size: 14px;
    }
}

.rating-container{
    color: white;
}

/* ----------------------------Registar---------------------------*/
.alert-success {
    margin-top: -70px !important;
    margin-bottom: 40px;
}
/* ----------------------------Comuns---------------------------*/

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.alert-danger{
    margin-top: -100px!important;
    position: relative;
}

/* ----------------------------Pontos-de-Interesse-Visitados---------------------------*/

.pontos-interesse-visitados-container{
    margin: 1% 8% 3% 8%;
    display: flex;
    flex-wrap: wrap;
}

.card-pontos-interesse-visitados{
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 1%;
    border-radius: 5px;
    margin: 2%;
    width: 27%;
}

.img-pi-card-pt-visitados{
    width: 100%;
    border-radius: 4px;
}

.btn-pi-visitado-info{
    margin: 0 6% 6% 0;
}

.btn-remover-visitados{
    position: absolute;
    margin-top: 8px ;
    margin-left: 190px;
}

@media (max-width: 1000px) {
    .pontos-interesse-visitados-container {
        margin: 1% 8% 3% 8%;
        display: flex;
    }

    .card-pontos-interesse-visitados {
        width: 40%;
    }

    .btn-pi-info{
        width: 100% !important;
        font-size: 13px;
    }

}

/*****Alterar Password*******/

#changepassword-form{
    color: white;
}