body, html{
height: 100%;

}

a {
    text-decoration:none;
}

a:hover{
    color:white;
}

/*Menu*/

.navbar-toggle{
    background-color: white !important;
}

.navbar-toggle .icon-bar{
    background-color: gray !important;
}

/*Index*/

.btn-search-index{
    margin-left: 0px;
}


.searchForm-index{
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

.wrap > .container {
    padding: 0px 15px 20px !important;
}

.searchForm-container{
    height: 30%;
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.searchLocalidade{
    width: 80%;
}

.opcao-pesquisa{
    color:white;
    margin-right: 20px;
    margin-left: 5px;
}

.icon-index-search{
    margin-right: 10px;
}

.logo-index-container{
    margin-top: 3%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

body, html{
    height: 100%;
}

#index-background{
    background-image: url("../background-index-4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-attachment: fixed, scroll;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal !important;
}

.menu-style{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    color: #FFFFFF;
    position: relative !important;
}

.menu-style a{
    color: #FFFFFF;
}

.menu-style a:hover{
    text-decoration: none;
    background-color: transparent !important;
}

.footer-index{
    color: white;
    text-align: center;
    margin-bottom: 0px;
    position:absolute;
    bottom:3%;
    width:100%;
}

/*Pontos Interesse*/


/*Favoritos*/

.checked {
    color: orange;
}

.pt-btn{
    justify-content: right;
    text-align: right;
}

.cards-container{
    margin: 4% 8% 3% 8%;
    opacity: 0.9;
}

.card-pontos-interesse{
    width: 27%;
}

.img-pi-favoritos-container{
    width: 25%;
}

.img-pi-favoritos{
    padding: 2%;
    border-radius: 10px;
    width: 100%;
}

.nome-pi-container{
    width: 45%;
    padding: 0 0 0 15%;
}

.btn-pi{
    padding: 0 0 0 15%;
    margin-right: 0;
}

.btn-outline-dark{
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.localidade-pi-container{
    padding: 0 0 0 15%;
}

/*pontos interesse*/

.pontos-interesse-container{
    margin: 1% 8% 3% 8%;
    display: flex;
    flex-wrap: wrap;
}

.card-pontos-interesse{
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 1%;
    border-radius: 5px;
    margin: 2%;
}

.card-ponto-interesse-details{
    width: 100%;
}

.img-pi-card{
    width: 100%;
    border-radius: 4px;
}

.card-body{

}

.btn-pi-info{
    margin: 0 6% 6% 0;
}

.desc-container{
    margin: 3% 10% 3% 4%;
    color: #FFFFFF;
    text-align: justify;
}

/*Favoritos*/

.favourite-container{
    margin: 1% 8% 3% 8%;
    display: flex;
    flex-wrap: wrap;
}

.favourite-ponto-interesse{
    opacity: 0.9;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 45%;
    margin: 2%;
}

.favourite-img{
    width: 60%;
}

.favorite-header{
    padding: 2% 0 0 0;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.favorite-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1%;
}

.favourite-options{
    justify-content: right;
    text-align: right;
    right: 0;
    margin: 1% 3% 3% 0%;
}

.favourite-pt-nome{
    margin-top: 5px;
}

.favoutite-pt-info{
    margin-top: 3%;
}

/*Visitados*/
.visitados-container{
    margin: 1% 8% 3% 8%;
    display: flex;
    flex-wrap: wrap;
}

.btn-visitados{
    margin-top: 6%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.card-visitados{
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 1%;
    border-radius: 5px;
    width: 20%;
    margin: 2%;
}

.img-visitados-card{
    width: 100%;
    border-radius: 5px;
}

.card-title-visitados{
    text-align: center;
}

.card-img-visitdos{
    padding: 2%;
    border-radius: 10px 10px 0px 0px;
}